---
layout: default
title: Jason Zerbe
---

<div data-role="page">
    {% include header.html %}

    <div data-role="content">
        <div class="ui-corner-all custom-corners">
            <div class="ui-bar ui-bar-a">
                <h3>Advocate + Engineer + Mentor</h3>
            </div>
            <div class="ui-body ui-body-a">
                <p>
                    <img src="https://www.gravatar.com/avatar/cde59b02650d86621ea5bae66d12fe91?s=200" />
                </p>
                <p>
                    I love engaging with the stories of other driven and knowledgeable people.
                </p>
                <p>
                    I ride bikes and boards.
                </p>
                <p>
                    I do logistics.
                </p>
            </div>
        </div>

        <!-- framework scales thumbs to 80px by 80px -->
        <ul data-role="listview" data-inset="true">
            <li><a rel="external" href="https://www.instagram.com/jz_theseries/">
                <img src="/ui/instagram.256.png">
                <h2>Instagram: jz_theseries</h2>
                <p>dirt and snow views</p></a>
            </li>
            <li><a rel="external" href="http://www.linkedin.com/in/jzerbe">
                <img src="/ui/linkedin.256.png">
                <h2>LinkedIn: Jason Zerbe</h2>
                <p>curated connections</p></a>
            </li>
            <li><a rel="external" href="http://stackoverflow.com/cv/jzerbe">
                <img src="/ui/stackoverflow.256.png">
                <h2>Stack Overflow Careers: Jason Zerbe</h2>
                <p>hosted cv</p></a>
            </li>
            <li><a rel="external" href="http://github.com/jzerbe">
                <img src="/ui/github.256.png">
                <h2>GitHub: Jason Zerbe</h2>
                <p>git@github.com:jzerbe/</p></a>
            </li>
        </ul>

        <!-- slippy map - do not show below certain width -->
        <div class="ui-corner-all custom-corners">
            <div class="ui-bar ui-bar-a">
                <h3>Travel Highlights</h3>
            </div>
            <div class="ui-body ui-body-a map_box_container">
                <div id="mapcanvas"></div>
            </div>
        </div>
        <script>
            var map = L.map('mapcanvas');
            map.setView([10,-108], 2);

            setTimeout(function() {
                map.invalidateSize();
            }, 500);

            L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
                accessToken: 'pk.eyJ1IjoianplcmJlIiwiYSI6ImNqaWk3Nm91ZjFwcmIzcHBlY3RmeGs5MWwifQ.cOxWEoV44m6xtutjIj8HSg',
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery &copy; <a href="https://www.mapbox.com/">Mapbox</a>',
                id: 'mapbox.terrain-rgb',
                maxZoom: 18,
            }).addTo(map);
        </script>

        <!-- index of posts and add to slippy map -->
        <ul data-role="listview" data-inset="true">
            {% for post in site.posts %}
                {% if post.tags contains 'preview' %}
                    {% comment %} liquid is missing negation {% endcomment %}
                {% else %}
                    <li>
                        <a href="{{ post.url }}" title="{{ post.title }} permalink">
                            <h2>{{ post.title }}</h2>
                            <p>{{ post.date | date_to_string }}</p>
                        </a>
                        {% if post.lat and post.lon %}
                            <script>
                                var post_marker = L.marker(
                                    [{{ post.lat }}, {{ post.lon }}],
                                    {
                                        'title': "{{ post.title }}",
                                    }
                                );
                                post_marker.url = "{{ post.url }}";
                                post_marker.on('click', function(){
                                    window.location = (this.url);
                                });
                                post_marker.addTo(map);
                            </script>
                        {% endif %}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
