---
layout: default
title: Jason Zerbe's trailbook | running up mountains
---

<div data-role="page">
    <div data-role="header" data-position="fixed" data-tap-toggle="false">
        <a rel="external" href="/search.html" data-icon="search">Search</a>

        <h1>{{ page.title }}</h1>
    </div>

    <div data-role="content">
        <ul data-role="listview" data-inset="true">
            {% for post in site.posts %}
                {% if post.tags contains 'trails' %}
                    <li>
                        <a href="{{ post.url }}" title="{{ post.title }} permalink">
                            <h2>{{ post.title }}</h2>
                            <p>{{ post.date | date_to_string }}</p>
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>

    {% include footer_trails.html %}
</div>
