<!DOCTYPE html>
<html>
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Jason Zerbe" />
   <link href="http://vraidsys.com/atom.xml" rel="alternate" title="Jason Zerbe" type="application/atom+xml" />
   <link rel="stylesheet" href="/style.css" type="text/css" media="screen, projection" />
<script type="text/javascript">//
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount','UA-2372567-8']);
	_gaq.push(['_trackPageview'],['_trackPageLoadTime']);
	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
	//</script>
</head>
<body>
{{ content }}
</body>
</html>
