<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{{ page.title }}</title>
        <meta name="author" content="Jason Zerbe" />
        <link href="http://vraidsys.com/atom.xml" rel="alternate" title="Jason Zerbe" type="application/atom+xml" />

        <style type="text/css">
        .disabled {
            display: none !important;
        }
        </style>

        <link rel="stylesheet" href="//code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.css" />
        <script src="//code.jquery.com/jquery-1.7.1.min.js"></script>
        <script src="//code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js"></script>
        <script type="text/javascript">
            $("[data-role=header]").fixedtoolbar({ tapToggle: false });
        </script>

        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-2372567-8']);
            _gaq.push(['_setDomainName', 'vraidsys.com']);
            _gaq.push(['_trackPageview']);
            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </head>
    <body>
        {{ content }}
    </body>
</html>
