---
layout: default
---

<div data-role="page">
    <div data-role="header">
        <a rel="external" href="/search.html" data-icon="search">Search</a>
        <h1>{{ page.title }} - {{ page.date | date_to_string }}</h1>
    </div>

    <div data-role="content">
        {{ content }}
        <hr />
        Want to comment or have a question? Drop me a line on
        <a href="https://twitter.com/@jasonzerbe/">twitter: @jasonzerbe</a>.
    </div>

    <div data-role="footer">
        <div data-role="navbar" data-iconpos="left">
            <ul>
                <li><a href="/" class="ui-btn-active" data-icon="grid">Blog</a></li>
                <li><a href="/contact.html" data-icon="info">Contact</a></li>
                <li><a href="/projects.html" data-icon="gear">Projects</a></li>
            </ul>
        </div>
    </div>
</div>
