---
layout: default
---

<div data-role="page">
    <div data-role="header" data-tap-toggle="false">
        <a data-rel="back" data-icon="back">Back</a>
        <h1>{{ page.title }} - {{ page.date | date_to_string }}</h1>
        <a rel="external" href="/search.html" data-icon="search">Search</a>
    </div>

    <div data-role="content">
        {{ page.content }}
        <hr />
        <small>
            {{ page.content | number_of_words }} words.
            Post tags: {{ page.tags | array_to_sentence_string }}.
        </small>
        <br />
        Content is written by Jason Zerbe and licensed
        <a href="http://creativecommons.org/licenses/by-nc/3.0/">CC BY-NC 3.0</a>.<br />
        Want to comment or have a question? Drop me a line on
        <a href="https://twitter.com/@jasonzerbe/">twitter: @jasonzerbe</a>.
    </div>

    {% include footer_post.html %}
</div>
